<!-- navigation bar -->
<nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">Iteration {{iterationNumber}}</a>
</nav>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger" data-toggle="collapse" data-target="#plannedCollapse">
      <span class="badge">{{categories.planned.length}}</span>
      <span class="glyphicon glyphicon-triangle-bottom glyphicon-align-left"></span>
      Planned
    </li>
    <!--Planned Collapse options-->
    <div class="collapse" id="plannedCollapse">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>#</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="plan in categories.planned">
            <td>{{$index + 1}}</td>
            <td>{{plan.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <li class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#inProgressCollapse">
      <span class="badge">{{categories.inProgress.length}}</span>
      <span class="glyphicon glyphicon-triangle-bottom glyphicon-align-left"></span>
      In Progress
    </li>
    <!--In progress Collapse options-->
    <div class="collapse" id="inProgressCollapse">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>#</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="progress in categories.inProgress">
            <td>{{$index + 1}}</td>
            <td>{{progress.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <li class="list-group-item list-group-item-warning" data-toggle="collapse" data-target="#testCollapse">
      <span class="badge">{{categories.test.length}}</span>
      <span class="glyphicon glyphicon-triangle-bottom glyphicon-align-left"></span>
      Test
    </li>
    <!--Test Collapse options-->
    <div class="collapse" id="testCollapse">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>#</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="testing in categories.test">
            <td>{{$index + 1}}</td>
            <td>{{testing.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <li class="list-group-item list-group-item-success" data-toggle="collapse" data-target="#finishCollapse">
      <span class="badge">{{categories.done.length}}</span>
      <span class="glyphicon glyphicon-triangle-bottom glyphicon-align-left"></span>
      Done
    </li>
    <!--Done Collapse options-->
    <div class="collapse" id="finishCollapse">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>#</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="finish in categories.done">
            <td>{{$index + 1}}</td>
            <td>{{finish.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ul>
  <!-- error -->
  <div class="alert alert-warning" role="alert" ng-show="showError"><b>Sorry!</b> Can not get the current iteration right now. Please try again later.</div>
  <!-- 404 -->
  <div class="alert alert-warning" role="alert" ng-show="show404"><b>404!</b> {{error}}</div>
  <!--loading modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="loadingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Please be patient as your iretation is being loaded ...</h3>
      </div>
    </div>
  </div>
</div>

</div>
